.containerAnimatedLogoDapplerPortal{
	--darkColor: #1e1f36;
	--groupColor: #595CD8;
	--baseWidth: 300px;
	--baseDist: calc(var(--baseWidth) / 30);
	--horizontalDist: calc(2.2 * var(--baseDist));
	position: relative;
	width: var(--baseWidth);
	height: var(--baseWidth);
	/* background-color: lightpink; */
}
.containerAnimatedLogoDapplerPortal> * > .dotSmall {
	position: absolute;
	width: var(--baseDist);
	height: var(--baseDist);
	border-radius: 50%;
	background: var(--darkColor);
	border-color: var(--darkColor);
}
.containerAnimatedLogoDapplerPortal> .line1 > .dotSmall {
	left: calc(15 * var(--baseDist) - 3 * var(--horizontalDist));
	transform: translateX(-50%);

}

.containerAnimatedLogoDapplerPortal> .line1 > .dotSmall:nth-child(1) {
	top: calc(11.25 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.0s;
}
.containerAnimatedLogoDapplerPortal> .line1 > .dotSmall:nth-child(2) {
	top: calc(13.75 * var(--baseDist));
}
.containerAnimatedLogoDapplerPortal> .line1 > .dotSmall:nth-child(3) {
	top: calc(16.25 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.5s;
}
.containerAnimatedLogoDapplerPortal> .line1 > .dotSmall:nth-child(4) {
	top: calc(18.75 * var(--baseDist));
}

.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall {
	left: calc(15 * var(--baseDist) - 2 * var(--horizontalDist));
	transform: translateX(-50%);
	animation-delay: 0.2s;
}

.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall:nth-child(1) {
	top: calc(10 * var(--baseDist));
}
.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall:nth-child(2) {
	top: calc(12.5 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall:nth-child(3) {
	top: calc(15 * var(--baseDist));


}
.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall:nth-child(4) {
	top: calc(17.5 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line2 > .dotSmall:nth-child(5) {
	top: calc(20 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.9s;
}

.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall {
	left: calc(15 * var(--baseDist) - var(--horizontalDist));
	transform: translateX(-50%);
	
}

.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(1) {
	top: calc(8.75 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.3s;

	}
.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(2) {
	top: calc(11.25 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(3) {
	top: calc(13.75 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 1.1s;
}
.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(4) {
	top: calc(16.25 * var(--baseDist));
}
.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(5) {
	top: calc(18.75 * var(--baseDist));
}
.containerAnimatedLogoDapplerPortal> .line3 > .dotSmall:nth-child(6) {
	top: calc(21.25 * var(--baseDist));
}

.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall {
	left: calc(15 * var(--baseDist));
	transform: translateX(-50%);
}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(1) {
	top: calc(7.5 * var(--baseDist));	
}

.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(2) {
	top: calc(10 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(3) {
	top: calc(12.5 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(4) {
	top: calc(15 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(5) {
	top: calc(17.5 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 1.2s;

}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(6) {
	top: calc(20 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line4 > .dotSmall:nth-child(7) {
	top: calc(22.5 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.4s;
}

.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall {
	left: calc(15 * var(--baseDist) + 1 * var(--horizontalDist));
	transform: translateX(-50%);
}

.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(1) {
	top: calc(8.75 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.8s;
	}
.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(2) {
	top: calc(11.25 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(3) {
	top: calc(13.75 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.2s;

}
.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(4) {
	top: calc(16.25 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(5) {
	top: calc(18.75 * var(--baseDist));

}
.containerAnimatedLogoDapplerPortal> .line5 > .dotSmall:nth-child(6) {
	top: calc(21.25 * var(--baseDist));

}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall {
	left: calc(15 * var(--baseDist) + 2 * var(--horizontalDist));
	transform: translateX(-50%);

}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall:nth-child(1) {
	top: calc(10 * var(--baseDist));
	
}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall:nth-child(2) {
	top: calc(12.5 * var(--baseDist));

}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall:nth-child(3) {
	top: calc(15 * var(--baseDist));
}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall:nth-child(4) {
	top: calc(17.5 * var(--baseDist));

}

.containerAnimatedLogoDapplerPortal> .line6 > .dotSmall:nth-child(5) {
	top: calc(20 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 1.5s;
}

.containerAnimatedLogoDapplerPortal> .line7 > .dotSmall {
	left: calc(15 * var(--baseDist) + 3 * var(--horizontalDist));
	transform: translateX(-50%);
}

.containerAnimatedLogoDapplerPortal> .line7 > .dotSmall:nth-child(1) {
	top: calc(11.25 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 1.2s;
}

.containerAnimatedLogoDapplerPortal> .line7 > .dotSmall:nth-child(2) {
	top: calc(13.75 * var(--baseDist));
	
}

.containerAnimatedLogoDapplerPortal> .line7 > .dotSmall:nth-child(3) {
	top: calc(16.25 * var(--baseDist));
	background-color: var(--groupColor);
	transform: translateX(-50%) scale(1.7);
	animation-delay: 0.3s;
	
}

.containerAnimatedLogoDapplerPortal> .line7 > .dotSmall:nth-child(4) {
	top: calc(18.75 * var(--baseDist));
	
}

.containerAnimatedLogoDapplerPortal> * > .dotSmall {
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-name: resize;
}

@keyframes resize {
	50% {
		transform: translateX(-50%) scale(1);
	}
}
